.barcard {
	margin: 15px 0px;
	border-radius: 4px;
}

.heading {
	padding: 15px 25px;
	background-color: rgba(152, 63, 9, 0.64);
}

.body {
	background-color: rgba(152, 63, 9, 0.06);
	padding: 15px 25px;
}

.barcard img {
	float: left;
	width: 50px;
	/*width: 100%;*/
}

.barcard .img-container {
	position: relative;
}

.barcard-row:first-child .barcard {
	margin-top:0px;
}

.barcard .rating {
	position: absolute;
    right: -8px;
    bottom: -2px;
}

// This is for a weird quirk on select groups
.input-group__details {
	min-height: 0px !important;
}



.page-title {
	text-decoration: none;
}

