
.body {
	background-color: rgba(77, 59, 59, 0.06);
	padding: 15px 25px;
}

.barcard {
	margin: 15px 0px;
	border-radius: 4px;
}

.redish {
	color: #de6262;
}

.bar-number {
	float: left;
}

.heading {
	padding: 15px 25px;
	background-color: #4d3b3b;
}

.heading a {
	color: white;
	text-decoration: none;
}

.barcard img {
	float: left;
	width: 50px;
	cursor: pointer;
}

.barcard .img-container {
	position: relative;
}

.barcard-row:first-child .barcard {
	margin-top:0px;
}

.barcard .rating {
	position: absolute;
    right: -8px;
    bottom: -2px;
}

.barcard .title {
	cursor: pointer;
}

/* This is for a weird quirk on select groups*/
.input-group__details {
	min-height: 0px !important;
}

.page-title {
	text-decoration: none;
}

