<!DOCTYPE html>
<html>
<head>
  <title>Jordan's List - Ranking Dark Chocolate</title>
 <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
 <!-- <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> -->
 <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
 <link href="./css/main.css" rel="stylesheet">
 <!-- <link rel="stylesheet" href="./css/font-awesome.min.css"> -->
</head>
<body>
 <div id="app">
   <v-app>
     <main>
       <v-container class="pt-0 pb-0">
       		<v-layout row>
    				<v-flex xs8 offset-xs2 class="heading">
    		       		<router-link to="/" class="page-title"><span class="headline"><strong>Jordan's List</strong></span></router-link>
                  <router-link to="/about" href="#" class="ml-4 subheading">About</router-link>
                  <!-- <router-link to="/dark-chocolate" class="ml-4 grey--text text--darken-4 subheading">Understanding Dark Chocolate</router-link> -->
            </v-flex>
          </v-layout>

          <router-view></router-view>

          <v-layout row>
          <!-- brown lighten-4  -->
            <v-flex xs8 offset-xs2 class="body caption text-xs-center grey--text">
                <v-spacer></v-spacer>
                <div>&copy; Jordan Marshall {{ new Date().getFullYear() }}</div>
            </v-flex>
          </v-layout>
       </v-container>
     </main>
   </v-app>
 </div>

<template id="barcard">
 <v-layout row class="barcard-row">
      <v-flex xs12>
        <v-layout row class="barcard ">
          <v-flex xs12 class="text-xs-left">
            <div class="bar-number body-2 mr-3">{{index + 1}}.</div>
            <img v-on:click="showDetailsModal" v-bind:src="bar.image" class="mr-3"> 
            <div class="title mb-2" v-on:click="showDetailsModal">
            <!-- brown--text text--darken-4 -->
              <span class="">{{bar.brand}}</span> - 
              <span class="">{{bar.name}} ({{bar.chocolatePercentage}}%)</span>
            </div>
           
            <!-- <p>{{bar.notes}}</p> -->

             <div class="tag-row subheading">
              <span class="redish">{{bar.rating }} points</span>
              <span v-if="bar.organic" class="ml-2 grey--text">Organic</span>
              <span v-if="bar.fairTrade" class="ml-2 grey--text">Fair Trade</span>
            </div>

          </v-flex>
        </v-layout>
        <v-layout row>
          <v-dialog v-model="showDetails" width="500">
            <v-card>
              <v-layout row>
                <v-flex xs12>
                  <img v-bind:src="bar.image" style="float: left;" class="mr-3"></img>

                  <h2 class="title mt-3">{{bar.brand}} - {{bar.name}} ({{bar.chocolatePercentage}}%)</h2>
                  <p><strong>Tasting Notes:</strong> {{bar.notes}}</p>
                  <p class="tag-row subheading">
                    <span class="deep-orange--text">{{bar.rating }} points</span>
                    <span v-if="bar.organic" class="ml-2 grey--text">Organic</span>
                    <span v-if="bar.fairTrade" class="ml-2 grey--text">Fair Trade</span>
                  </p>
                  <p>
                    <a v-bind:href="bar.officialLink" target="_blank">Official Site</a>
                  </p>

                </v-flex>

              </v-layout>

             <!--  <v-card-title class="headline">{{bar.brand}} - {{bar.name}}</v-card-title>
              <v-card-text>{{bar.notes}}</v-card-text>
              <v-card-actions>
                <v-btn class="green--text darken-1" flat="flat" v-on:click.native="showDetails = false">Close</v-btn>
              </v-card-actions> -->
            </v-card>
          </v-dialog>
        </v-layout>
      </v-flex>
   </v-layout>
</template>

<template id="mainList">
  <div>
    <v-layout row>
      <v-flex xs8 offset-xs2 class="body">
        <v-layout row>
          <v-flex xs3 class="pr-4">
              <v-select v-bind:items="orderOptions" label="Order By" v-model="orderBy" class="pb-0"></v-select>
          </v-flex>
          <v-flex xs3 class="pr-4">
              <v-select v-bind:items="brands" label="Filter by Brand" v-model="selectedBrand"></v-select>                  
          </v-flex>
          <v-flex xs3 class="pr-4">
              <v-select v-bind:items="ethicalOptions" multiple single-line label="Ethical Options" v-model="selectedEthical"></v-select>                  
          </v-flex>
          <v-flex xs1 class="caption pt-3">
            <v-btn small flat v-on:click="clearFilter" class="">
              <v-icon left>clear_all</v-icon> Clear
            </v-btn>
          </v-flex>

        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs8 offset-xs2 class="body">
          <template v-for="(bar, index) in barsSorted">
            <bar-card v-bind:bar="bar" v-bind:index="index" v-show="showBar(bar)"></bar-card>
          </template>
      </v-flex>
    </v-layout>
  </div>
</template>

<template id="about">
  <v-layout row>
    <v-flex xs8 offset-xs2 class="body">
        <h1 class="title">About {{app_name}}</h1>
        <p>I rate dark chocolate (cacao > 50%) and tell you which is the best.</p>
        <p>I try to only rate "pure" bars, or those without extra ingredients (such as nuts, mint, caramel, etc), although sometimes one sneaks in.</p>
        <h3 class="title">Ratings</h3>
        <p>Each bar is rated on a scale of 0 - 100.  I use "points" instead of percent to avoid confusion with the cacao percentage.</p>
        <p>The ratings are entirely subjective and based on my palette alone, which is the best.</p>
        <h3 class="title">Recommend a Bar</h3>
        <p>Is there a bar you want me to try? Let me know the name and where to get it.</p>
    </v-flex>
  </v-layout>
</template>

<template id="about-dc">
  <v-layout row>
    <v-flex xs8 offset-xs2 class="body">
        <h1 class="title">Understanding Dark Chocolate</h1>
        <p>I rate dark chocolate (cacao > 50%) and tell you which is tastes the best.</p>
        <p>I try to only rate "pure" bars, or those without extra ingredients (such as nuts, mint, caramel, etc), although sometimes one sneaks in.</p>
        <h3 class="title">Ratings</h3>
        <p>Each bar is rated on a scale of 0 - 100.  I use "points" instead of percent to avoid confusion with the cacao percentage.</p>
        <p>The ratings are entirely subjective and based on my palette alone, which is the best.</p>
        <h3 class="title">Recommend a Bar</h3>
        <p>Is there a bar you want me to try? Let me know the name and where to get it.</p>
    </v-flex>
  </v-layout>
</template>

<!--  <template id="barcard">
   <v-layout row>
      <v-flex xs10>
        <v-layout row class="barcard ">
          <v-flex xs2 class="img-container">
            <img v-bind:src="bar.image"> 
            <v-chip label class="deep-orange darken-4 white--text body-2 rating">
              <v-icon left>grade</v-icon> {{bar.rating * 10}}
            </v-chip> 
          </v-flex>

          <v-flex xs10 class="text-xs-left body">

            <v-chip outline class="percentage chip text-xs-right red red--text subheading">{{bar.chocolatePercentage}}% Cacao</v-chip>
            <div class="headline mb-3">
              <span class="deep-orange--text text--darken-4">{{bar.brand}}</span> 
              <span class="brown--text text--darken-4">{{bar.name}}</span>
            </div>
           
            <p>{{bar.notes}}</p>

             <div class="tags">
              <v-chip small label class="ml-0" v-if="bar.organic">Organic</v-chip>
              <v-chip small label class="ml-0" v-if="bar.fairTrade" class="chip small">Fair Trade</v-chip>
            </div>

          </v-flex>
        </v-layout>
      </v-flex>
   </v-layout>
 </template> -->
 
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
 <script src="./bar_list.js"></script>
 <script src="./main.js"></script>
</body>
</html>